.option {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: grey;
}

.option:hover,
.option:hover>h3,
.option:hover>p {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 600 !important;
}

.option>.MuiSvgIcon-root {
    padding: 5px;
}

.option>h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.option>p {
    display: none;
    font-weight: 300;
}

.option--active>p {
    display: inline !important;
}

.option:hover>p {
    display: inline;
}